*.md
*.afdesign
Kurseinheiten/Mario/Spritesheets/reference_code_Sprites.ts
Kurseinheiten/Mario/Spritesheets/Mario/editing_and_sourcefiles/Mario_chosen_frames.ase
Kurseinheiten/Mario/Spritesheets/Mario/editing_and_sourcefiles/Mario_chosen_frames-Sheet.ase
